html {
    font-size: medium;
    font-family: Monospaced, 'Microsoft YaHei', 'Apple LiGothic Medium';
}

#low-logo {
    padding-left: 20px;
    font-size: 30px;
    font-family: Monospaced, 'SimHei', 'Apple LiGothic Medium';
}

nav {
    padding: 0;
}